/* Font Family Import */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* disable selecting of site content */
  /* user-select: none;
  -webkit-user-select: none; */
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #6ccff6;
  --white-color: #fffffc;
  --black-color: #021418;
  /*------- Font and typography -------*/
  --biggest-font-size: 1.25rem;
  --h1-font-size: 3rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 0.713rem;
  --tiny-font-size: 0.625rem;
}

@media screen and (min-width: 1900px) {
  :root {
    --h1-font-size: 3.2rem;
    --h4-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1rem;
    --tiny-font-size: 0.688rem;
  }
}

body {
  background: var(--white-color);
}

h1{
  color: var(--black-color);
  text-align: center;
}

span {
  color: var(--main-color);
}

h1 {
  font-weight: 800;
  margin: 4vh 2vw;
  font-size: var(--h1-font-size);
}

p {
  font-weight: 400;
  margin: 1vh auto;
  font-size: var(--normal-font-size);
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600;
}

img {
  width: 100%;
}

ul {
  margin: 10px 0;
  font-size: var(--normal-font-size);
  list-style-type: none;
}

.container {
  /* margin: 0 150px; */
  background-color: var(---secondary_background);
  /* height: 100vh; */
}

.upload_container {
  display: flex;
}
.wrapper {
  display: flex;
  margin: 2rem;
}
.image_container {
  width: 70%;
  padding: 0 1rem;
}
.image_container img {
  width: 100%;
}

.info_container li,
.info_container span {
  font-size: var(--normal-font-size);
}

.buttons {
  margin: 0 3rem;
}
.upload_image {
  background-color: var(---main_color);
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 1rem 0;
}

#compress_button {
  width: fit-content;
  padding: 0.8rem 0.5rem;
  border-radius: 15px;
  font-size: var(--small-font-size);
}
