{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixella - Image Processing Tool</title>
    <link rel="stylesheet" href="{% static 'css/pixella.css' %}" />
  </head>

  <body>
    <h1>Image Compression with <span>Pixella</span></h1>
    <div class="container">
      <div class="upload_container">
        <div class="wrapper">
          <div class="image_container">
            <img src="{% static 'images/peng.jpg' %}" alt="Uploaded Image" />
          </div>
          <div class="info_container">
            <ul>
              <li>Name: <span class="name">Default</span></li>
              <li>Type: <span class="type">JPG</span></li>
              <li>Size: <span class="size">431KB</span></li>
              <li>Dimension: <span class="dimension">302 × 150 </span></li>
            </ul>
          </div>
        </div>
        <div class="wrapper">
          <div class="image_container">
            <img src="{% static 'images/peng.jpg' %}" alt="Compressed Image" />
          </div>
          <div class="info_container">
            <ul>
              <li>Name: <span class="name">Default</span></li>
              <li>Type: <span class="type">JPG</span></li>
              <li>Size: <span class="size">431KB</span></li>
              <li>Dimension: <span class="dimension">302 × 150</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="upload_image">
          <input
            type="file"
            id="myFile"
            accept="image/png,image/jpg"
            name="filename"
          />
        </button>
        <button class="compress_image">Compress Image</button>
      </div>
    </div>

    <script src="../assets/js/main.js"></script>
  </body>
</html>
